body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #0c57b3;
  color: #cf0d0d;
}

.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #5c9ead;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.small-container {
  margin: 0 auto;
  width: 92%;
  max-width: 768px;
  background-color: #b80e0e;
  padding: 20px;
  border: 2px solid #0396cc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1#site-title {
  font-size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-align: center;
  color: #2c3e50;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h1#article-title {
  font-size: 48px;
  color: #5c9ead;
  border-bottom: 2px solid #118ba7;
  padding-bottom: 8px;
}

p {
  line-height: 1.6;
  margin-bottom: 1.25em;
  font-size: 16px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid #5c9ead;
}

figure {
  margin: 0;
  padding: 12px;
  border-radius: 8px;
}

figure.main-image {
  background: #5c9ead;
  color: #ce0202;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(119, 48, 48, 0.2);
}

figure.section-image {
  margin-bottom: 32px;
  padding: 8px;
  border: 2px solid #116d8f;
  border-radius: 10px;
  background-color: #083e5f;
}

figure.section-image.odd {
  float: right;
  margin-left: 20px;
}

figure.section-image.even {
  float: left;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  border: 2px solid #5c9ead;
  border-radius: 5px;
  background-color: #0e4e75;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #2c3e50;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #5c9ead;
  color: #ffffff;
  border-radius: 4px;
}

body.dark-mode {
  background: #1e272e;
  color: #a71515;
}

body.dark-mode button {
  background-color: #ee7878;
  color: #1e272e;
}

#message {
  background: #59944b;
  border: 1px solid #178201;
  padding: 20px 40px;
  margin: 12px 0;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

footer#page-footer {
  padding: 32px 0;
  margin-top: 64px;
  text-align: center;
  background-color: #2c3e50;
  color: #520303;
  border-top: 4px solid #5c9ead;
}

footer nav ul li a {
  color: #af2323;
}

footer nav ul li a:hover {
  text-decoration: underline;
}
