/* Styling the body */
body {
    font-family: Arial, sans-serif;
    background-color: #adabab;
    color: #333;
    padding: 20px;
}

/* Header Styling */
header {
    padding: 20px;
    text-align: center;
}

/* Large font for Association Name with Grey Border */
header h1 {
    font-size: 3em;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    border: 5px solid #adabab; /* Grey border */
    color: #000;
    background-color: #adabab;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Styling for the Highlighted "The 73rd Annual Ox Roast" */
header h2 {
    font-size: 2.5em;
    display: inline;
    color: #000;
    background-color: #ffcc00; /* Yellow highlight background */
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Main Content */
main {
    margin: 20px 0;
}

/* Flexbox container for Friday and Saturday */
#events {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

#friday, #saturday {
    flex: 1;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

/* Friday Section */
#friday {
    background-color: #f49831; /* Orange color for Friday */
    color: #fff;
}

/* Saturday Section */
#saturday {
    background-color: #e64545; /* Red color for Saturday */
    color: #fff;
}

/* Sunday Section */
#sunday {
    background-color: #5b37df; /* Purple color for Sunday */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* Section for Location */
#location {
    margin-bottom: 20px;
    text-align: center;
}

/* Image Styling */
.main-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

figure {
    text-align: center;
    margin-top: 10px;
}

/* Footer */
#footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}
